body {
    background: url(../images/fonback.png);
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
    list-style: none;
    color: inherit;
}
header {
    height: 58px;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.container-header {
    display: flex;
    padding: 18px 79px;
    justify-content: space-between;
}
.logo {
    color: #FFF;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 22px;
    align-items: center;
    transition: all .8s ease;
}
.svg-elements {
    width: 126px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
svg {
    width: 21px;
    height: 24px;
    fill: #FFFFFF;
    transition: all .4s ease;
}
.line {
    width: 1px;
    height: 19px;
    opacity: 0.50;
    background: rgba(255, 255, 255, 0.90);
    margin-left: 25px
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-text {
    color: #FFF;
    font-size: 14px;
    line-height: 14px;
    margin-left: 27px;
}
.login-navigation::after {
    content: "";
    background: #3CB878;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all .4s ease;
    transform: scaleX(0);
}
.login-navigation {
    position: relative;
}
.login-navigation:hover::after {
    transform: scaleX(1);
}
.signup-navigation::after {
    content: "";
    background: #3CB878;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all .4s ease;
    transform: scaleX(0);
}
.signup-navigation {
    position: relative;
}
.signup-navigation:hover::after {
    transform: scaleX(1);
}
.signup-navigation {
    transition: all .4s ease;
}
.logo:hover {
    color: #3CB878;
    transform: scaleX(1.1);
    letter-spacing: 3px;
}
svg:hover {
    fill: #3CB878;
    transform: scale(1.3);

}
.login-navigation:hover {
    color: #3CB878;
}
.signup-navigation:hover {
    color: #3CB878;
}

/*form login*/

.wrapper {
    width: 444px;
    height: 638px;
    background: #FFF;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
    margin-left: auto;
    margin-right: auto;
    margin-top: 54px;
    border-radius: 8px;
}
.SingUp {
    padding: 31px 60px;
}
.sing-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tittle-sing::before {
    content: '';
    position: absolute;
    background-color: #3CB878;
    display: block;
    top: 0;
    right: 111px;
    width: 18px;
    height: 18px;
}
.tittle-sing {
    color: #434343;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    position: relative;
}
.sing-head a {
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
}
.log-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bth {
    width: 160px;
    height: 48px;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    color: #FFF;
    font-size: 16px;
    margin-top: 15px;
}
.bth span {
    position: relative;
}
.bth span::before {
    content: '';
    position: absolute;
    top: 0;
    right: 80px;
    height: 100%;
    display: block;
    border: 1px solid rgba(60, 60, 60, 0.2);
}
.btn-facebook {
    background-color: #305DB8;
    transition: all .3s ease;
}
.bth-google {
    background-color: #DF4A32;
    transition: all .3s ease;
}
.bth:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}
.btn-facebook:hover {
    background-color: #022263;
}
.bth-google:hover {
    background-color: #AB1F09;
}
.line-or {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}
.text-line {
    color: #848484;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    position: relative;
}

.text-line::before {
    content: "";
    position: absolute;
    display: block;
    right: 19px;
    width: 149px;
    border: 1px solid #F2F2F2;
    top: 9px;
}
.text-line::after {
    content: "";
    position: absolute;
    display: block;
    left: 19px;
    width: 149px;
    border: 1px solid #F2F2F2;
    top: 9px;
}
.box {
    margin-top: 11px;
}
.box label {
    padding: 15px 0;
}
.box input {
    width: 100%;
    height: 44px;
    padding-left: 20px;
    margin: 10px 0;
    font-size: 14px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    outline: none;
}
.box input:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}
.AgreeOurTermsConditions {
    display: flex;
    align-items: center;
}
.real-check {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.custom-check {
    box-sizing: border-box;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.00);
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-right: 5px;
    vertical-align: sub;
    position: relative;
    user-select: none;
}
.custom-check::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url("../images/Vector 1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    /*For center*/
    position: absolute;
    left: 2px;
    top: 2px;
    transform: scale(0);
    transition: .2s ease-in-out;
}
.real-check:checked + .custom-check::before {
    transform: scale(1);
}
.AgreeOurTermsConditions span a {
    color: #3CB878;
}
.AgreeOurTermsConditions span a:hover {
    color: #01813F;
}
.CreAcc {
    width: 347px;
    height: 46px;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    border: none;
}
.create-acc {
    width: 347px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.create-acc button span {
    color: #FFF;
    font-size: 16px;
    line-height: 16px;
}
.CreAcc:hover {
    background: #01813F;;
}